<div class="sign-up-container">
  <h1>Stay updated!</h1>
  <p>Join 60,000+ product managers receiving monthly updates on:</p>

  <ul>
    <li>Product discovery and building what matters</li>
    <li>Measuring to ensure updates are a success</li>
    <li>And much more!</li>
  </ul>

  <div class="input-block">
    <label for="email">Email address</label>
    <input type="email" placeholder="email@company.com" />
    <div class="error-msg"></div>
  </div>

  <button type="button">Subscribe to monthly newsletter</button>
</div>
