@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1450px;
    margin: auto;
    display: flex;
    justify-content: stretch;
}

.img-area {
    background-image: url('../assets/images/bg-main-desktop.png');
    display: flex;
    flex-direction: column;
    height: 900px;
    min-width: 447px;
    position: relative;
}

.form-area {
    margin: 0 auto;
}
